Cloudinary.config do |config|
  config.cloud_name = "valiant-heart-studios"
  config.api_key = ApplicationConfig["CLOUDINARY_API_KEY"]
  config.api_secret = ApplicationConfig["CLOUDINARY_API_SECRET"]
  config.secure = ApplicationConfig["CLOUDINARY_SECURE"]
end
